# Database (local Docker)
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/buenas_maltas?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=""

# Microservicio Rutas Inteligentes
NEXT_PUBLIC_RUTAS_INTELIGENTES_API_URL="https://v0-micro-saa-s-git-develop-talenthubais-projects.vercel.app"

# OpenAI (para chat IA - Módulo 3)
OPENAI_API_KEY=""

# Neon (solo en producción/Vercel - reemplaza DATABASE_URL)
# DATABASE_URL="postgresql://user:pass@ep-xxx.us-east-2.aws.neon.tech/buenas_maltas?sslmode=require"
